{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-sub-total" data-toggle="tooltip" title="{{ text_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ action_cancel }}" data-toggle="tooltip" title="{{ text_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
  {% if (error_warning) %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <form action="{{ action_save }}" method="post" enctype="multipart/form-data" id="form-sub-total" class="form">
        <div class="panel-body">

          <div class="row">
            <div class="form-group">
              <label class="control-label col-sm-2">{{ entry_status }}</label>
              <div class="col-sm-10">
                  <input type="text" class="form-control" name="free_gift_sort_order" value="{{ free_gift_sort_order ? free_gift_sort_order : 0 }}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label class="control-label col-sm-2">{{ entry_sort_order }}</label>
              <div class="col-sm-10">
                  <select name="free_gift_status" class="form-control">
                    <option value="0" {{ (free_gift_status and free_gift_status == 0) ? 'selected' : '' }}>Disabled</option>
                    <option value="1" {{ (free_gift_status and free_gift_status == 1) ? 'selected' : '' }}>Enabled</option>
                  </select>
              </div>
            </div>
          </div>

          {% if gifts is empty %}
            <div class="row" style="margin-top:15px;">
              <div class="col-sm-12">
                  <hr>
              </div>
              <div class="col-sm-1">
                <button type="button" class="btn btn-danger remove-gift" style="margin-top:22px;">-</button>
              </div>
              {% for currency in currencies %}
              <div class="col-sm-3">
                <label class="control-label">{{ currency.title }}</label>
                <input type="number" class="form-control" name="gifts[{{ time }}][amount][{{ currency.code }}]" value="">
              </div>
              {% endfor %}
              {% for language in languages %}
                <div class="col-sm-11 col-sm-offset-1" style="margin-top: 15px;">
                  <label class="control-label">{{ entry_gift~' '~language.name }}</label>
                  <input type="text" class="form-control" name="gifts[{{ time }}][gift][{{ language.code }}]" value="">
                </div>
              {% endfor %}
              <div class="col-sm-11 col-sm-offset-1" style="margin-top: 15px;">
                <label class="control-label" for="input-related">{{ entry_product }}</label>
                <input type="text" id="gifts-{{ time }}-product-input" value="" placeholder="{{ entry_product }}" id="input-related" class="form-control" />
                <div id="gifts-{{ time }}-product" class="well well-sm" style="height: 100px; overflow: auto;"> </div>
              </div>
            </div>
          {% else %}
            {% for k, gift in gifts %}
            <div class="row" style="margin-top:15px;">
              <div class="col-sm-12">
                  <hr>
              </div>
              <div class="col-sm-1">
                <button type="button" class="btn btn-danger remove-gift" style="margin-top:22px;">-</button>
              </div>
              {% for currency in currencies %}
              <div class="col-sm-3">
                <label class="control-label">{{ currency.title }}</label>
                <input type="number" class="form-control" name="gifts[{{ k }}][amount][{{ currency.code }}]" value="{{ gift['amount_'~currency.code] }}">
              </div>
              {% endfor %}
              {% for language in languages %}
                <div class="col-sm-11 col-sm-offset-1" style="margin-top: 15px;">
                  <label class="control-label">{{ entry_gift~' '~language.name }}</label>
                  <input type="text" class="form-control" name="gifts[{{ k }}][gift][{{ language.code }}]" value="{{ gift['gift_'~language.code] }}">
                </div>
              {% endfor %}
              <div class="col-sm-11 col-sm-offset-1" style="margin-top: 15px;">
                <label class="control-label" for="input-related">{{ entry_product }}</label>
                <input type="text" id="gifts-{{ k }}-product-input" value="" placeholder="{{ entry_product }}" id="input-related" class="form-control" />
                <div id="gifts-{{ k }}-product" class="well well-sm" style="height: 100px; overflow: auto;">
                {% for product in gift.products %}
                  <div id="gifts-{{ k }}-product-input-{{ product.id }}">
                    <i class="fa fa-minus-circle removeme"></i> {{ product.name }}
                    <input type="hidden" name="gifts[{{ k }}][product_ids][]" value="{{ product.id }}" />
                  </div>
                {% endfor %}
                </div>
              </div>
            </div>
            {% endfor %}
          {% endif %}
            
          <div class="row" style="margin-top:30px;">
            <div class="col-sm-12">
              <button type="button" id="btn-add" class="btn btn-primary">+</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function makeAutoComplete(ele){
    var addTo = '#'+$(ele).attr('id').split('-').splice(0,3).join('-');
    var id    = $(ele).attr('id').split('-')[1];

    // Related
    $(ele).autocomplete({
      'source': function(request, response) {
        $.ajax({
          url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
          dataType: 'json',
          success: function(json) {
            response($.map(json, function(item) {
              return {
                label: item['name'],
                value: item['product_id']
              }
            }));
          }
        });
      },
      'select': function(item) {
        $(ele).val('');

        $('#product-related' + item['value']).remove();
        $(ele+'-'+item['value']).remove();

        addItem = '<div id="'+ele+'-'+item['value']+'">';
        addItem += '<i class="fa fa-minus-circle removeme"></i> ' + item['label'];
        addItem += '<input type="hidden" name="gifts['+id+'][product_ids][]" value="' + item['value'] + '" />';
        addItem += '</div>';
        addItem = $(addItem);

        $('.removeme', addItem).click(function(){
          $(this).parent().remove();
        });

        $(addTo).append(addItem);
      }
    });
  }

  {% if gifts is empty %}
  makeAutoComplete('#gifts-{{ time }}-product-input');
  {% else %}
    {% for k, gift in gifts %}
      makeAutoComplete('#gifts-{{ k }}-product-input');
    {% endfor %}

    $('.removeme').click(function(){
      $(this).parent().remove();
    });
  {% endif %}

  function setRemove(ele){
    ele.click(function(){
      ele.parent().parent().remove();
    });
  }

  $(".remove-gift").each(function(){
    setRemove($(this));
  });

  $("#btn-add").click(function(){
    var id = Date.now();
    var ele = `
      <div class="row" style="margin-top:15px;">
        <div class="col-sm-12">
            <hr>
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-danger remove-gift" style="margin-top:22px;">-</button>
        </div>
        {% for currency in currencies %}
        <div class="col-sm-3">
          <label class="control-label">{{ currency.title }}</label>
          <input type="number" class="form-control" name="gifts[`+id+`][amount][{{ currency.code }}]" value="">
        </div>
        {% endfor %}
        {% for language in languages %}
          <div class="col-sm-11 col-sm-offset-1" style="margin-top: 15px;">
            <label class="control-label">{{ entry_gift~' '~language.name }}</label>
            <input type="text" class="form-control" name="gifts[`+id+`][gift][{{ language.code }}]" value="">
          </div>
        {% endfor %}
        <div class="col-sm-11 col-sm-offset-1" style="margin-top: 15px;">
          <label class="control-label" for="input-related">{{ entry_product }}</label>
          <input type="text" id="gifts-`+id+`-product-input" value="" placeholder="{{ entry_product }}" id="input-related" class="form-control" />
          <div id="gifts-`+id+`-product" class="well well-sm" style="height: 100px; overflow: auto;"> </div>
        </div>
      </div>
    `;
    
    ele = $(ele);
    $('div.panel-body > div').eq(-1).before(ele);
    makeAutoComplete('#gifts-'+id+'-product-input');
    setRemove($(".remove-gift", ele));
  });
</script>
{{ footer }}